# Entornos virtuales
venv/
.env

# Archivos de compilación de Python (ESTO es lo que ensucia tu git status)
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Base de datos local (opcional, si usas sqlite3)
*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db